.signup-form, .login-form {

  background-color: white;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width:40%;
  }

  .signup-input, .login-input {
    width: 100%;
    display: block;
  }

  .signup-button, .login-button {
    width: 100%;
    display: block;
    margin: 3em auto 4em;
  }

  .mui-raised-button-container {
    padding: 1em ;
    margin-bottom: 2em;
  }
  .mui-raised-button-label {
    font-size: 2em;
  }

  a {
    color: #999;
    font-size: 1.4em;
  }

}
