.signup-form, .login-form {

  margin: 1em auto 0;
  padding: 1em;

  @media screen and (min-width: 768px) {
    max-width:40%;
  }

  .signup-input, .login-input {
    width: 100%;
  }

  .signup-button, .login-button {
    width: 100%;
    display: block;
    margin: 5em auto 7em;
  }

  .mui-raised-button-container {
    padding: 1em;
    margin-bottom: 2em;
  }
  .mui-raised-button-label {
    font-size: 2em;
  }

  a {
    float: right;
    color: #999;
    font-size: 1.4em;
  }

}
