@import url(//fonts.googleapis.com/css?family=Lato);

html {
  background: none;
}

body {
  font-family: Lato, sans-serif;
  background-size: cover;
  background-image: radial-gradient(farthest-side ellipse at 10% 0, rgba(102,105,104,0.9),rgba(93,112,119,0.89),rgba(160,174,150,0.9));
  background-attachment: fixed;
}

// Stop Chrome from making inputs yellow
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
