/* material-ui */
@import "node_modules/material-ui/src/less/scaffolding.less";


@import "node_modules/material-ui/src/less/components.less";

//Your custom app styles
#app {
}

.login-link {
	float: right;
}

.signup-form {
	.signup-input {
		width: 100%;
	}
	.signup-button {
		width: 100%;
  	display: block;
	  margin: 2em auto;
	}
	width: 30%;
	margin: 0 auto;
}
