/* material-ui */
@import "node_modules/material-ui/src/less/scaffolding.less";
@import "node_modules/material-ui/src/less/components.less";

body {
  background-image: radial-gradient(farthest-side ellipse at 10% 0, rgba(102,105,104,0.9),rgba(93,112,119,0.89),rgba(160,174,150,0.9));
  background-attachment: local;
}

//====================
// Auth
//====================

.signup-form, .login-form {
	margin: 1em auto 0;
  padding: 1em;
  @media screen and (min-width: 768px) {
    max-width:40%;
  }
  .signup-input, .login-input {
    width: 100%;
  }

  .signup-button, .login-button {
    width: 100%;
    display: block;
    margin: 5em auto 7em;
  }

  .mui-raised-button-container {
    padding: 1em;
    margin-bottom: 2em;
  }
  .mui-raised-button-label {
    font-size: 2em;
  }

  a {
    float: right;
    color: #999;
    font-size: 1.4em;
  }

}

//====================
// Dashboard
//====================

.dash-content {
  margin-left: 256px;
  padding: 2em 1em 0 5em;
}

// Settings
.dashboard-title {
  h1 {
    margin-bottom: 0;
    opacity: 1.0;
  }
  border-bottom: solid;
  border-bottom-width: .2em;
  opacity: 0.4;
}

.dashboard-subcontent {
  margin: 3em 0;
  font-size: 2em;
}

.dashboard-subheading {
  margin-bottom: .5em;
}

// VIP
.vip-table {
  width: 100%;
  background-color: #fff;
  .vip-remove {
    background: none;
    border: none;
    font-size: 2em;
    color: #900;
    outline: none;
  }

  button:hover {
    color: #e00;
  }

  .vip-remove-box {
    width: 1em;
  }

  td {
    padding: 1em;
    border-bottom: 1px solid #ccc;
  }
}

.vip-add-contact {
  margin-bottom: 3em;
  .vip-add-button {
    margin-left: 1em;
  }
}

.vip-table-container {
  width: 80%;
}

// Emails
.emails {
  table {

  }
  td, th {
    padding: 1em;
  }
  th {
    font-weight: bold;
  }
}

