/* material-ui */
@import "node_modules/material-ui/src/less/scaffolding.less";
@import "node_modules/material-ui/src/less/components.less";

//====================
// Auth
//====================

.signup-form, .login-form {
	margin: 1em auto 0;
  padding: 1em;
  @media screen and (min-width: 768px) {
    max-width:40%;
  }
  .signup-input, .login-input {
    width: 100%;
  }

  .signup-button, .login-button {
    width: 100%;
    display: block;
    margin: 5em auto 7em;
  }

  .mui-raised-button-container {
    padding: 1em;
    margin-bottom: 2em;
  }
  .mui-raised-button-label {
    font-size: 2em;
  }

  a {
    float: right;
    color: #999;
    font-size: 1.4em;
  }

}

//====================
// Dashboard
//====================

.dash-content {
  margin-left: 256px;
  padding: 2em 1em 0 5em;
}


// VIP
.vip-table {
  width: 100%;
  .vip-remove {
    background: none;
    border: none;
    font-size: 2em;
    color: #900;
    outline: none;
  }

  button:hover {
    color: #e00;
  }

  .vip-remove-box {
    width: 1em;
  }

  td {
    padding: 1em;
    border-bottom: 1px solid #eee;
  }
}

.vip-add-contact {
  margin-bottom: 3em;
  .vip-add-button {
    margin-left: 1em;
  }
}

.vip-table-container {
  width: 80%;
}
