/* GLOBAL STYLES
-------------------------------------------------- */
@import url(//fonts.googleapis.com/css?family=Montserrat);
@import url(//fonts.googleapis.com/css?family=Lato:700);

html {
  height: 100%;
}

body {
  color: #5a5a5a;
  background-color: #1a1a1a;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

.btn-primary {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid white;
  transition: 0.5s;
}

.btn-primary:hover, .btn-primary:focus {
  color: #ffcc00;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #ffcc00;
  transition: 0.5s;
}

.btn {
  padding: 18px 40px;
  font-size: 20px;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus {
  font-family: "Lato", Sans-Serif;
  font-size: 3em;
  color: #fc0;
  text-shadow: 1px 2px 6px rgb(79, 67, 3);
}

.navbar-nav {
  float: right;
  font-size: 18px;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

.nav > li > a, .nav > li > a:focus {
  color: white;
  background: none;
  transition: all 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  margin-left: 5px;
}

.nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  color: #fc0;
}


/* CUSTOMIZE THE JUMBOTRON
-------------------------------------------------- */

/* Jumbotron base class */
.jumbotron {
  background: url('/assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  margin-bottom: 0px;
}

.special .jumbotron {
  height: 100%;
}

/* Since positioning the image, we need to help out the caption */
.jumbotron > .container {
  position: relative;
  top: 10%;
  z-index: 10;
  text-shadow: 0 1px 2px rgba(0,0,0,.8);
  color: #eee;
}

.jumbotron h1 {
  font-size: 4.2em;
  margin-bottom: 5px;
}

.jumbotron p {
  margin-bottom: 4%;
}

.icon {
  width: 100px;
  height: 100px;
}

.jumbotron .icons {
  margin-top: 5%;
  margin-bottom: 9%;
}

.jumbotron .icons h5 {
  font-size: 1.2em;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing {
  color: #D2D2D2;
  width: 100%;
  padding: 100px;
  /*min-height: 740px;*/
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 25px;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.marketing.works, .marketing.vip, .testimonial {
  background: url('/assets/texture.png');
}

.marketing.works > h2 {
  margin-bottom: 75px;
}

.marketing.time {
  background: url('/assets/time.jpg') no-repeat center center fixed;
  background-size:cover;
  background-position-x: -110px;
}

.marketing.wallet {
  background: url('/assets/wallet.jpg') no-repeat center center fixed;
  background-size:cover;
  background-position-x: -175px;
}

.lead {
  margin-bottom: 0px;
}

span.viptext {
  color: rgb(128, 0, 18);
}

.text-muted {
  color: inherit;
  opacity: .7;
}

.gold {
  color: #fc0;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


.container.testimonial {
  width: 100%;
  padding: 70px;
}

.testimonial blockquote {
  /*background: rgb(19, 15, 15);*/
  font-size: 1.5em;
  color: #DEDEDE;
}

/* Footer
-------------------------- */
body > footer {
  background: rgb(19, 15, 15);
  color: #D1D1D1;
  padding: 20px;
}

body > footer > p {
  margin-bottom: 0px;
}

body > footer > p > a, body > footer > p > a:focus {
  color: #666;
}

body > footer > p > a:hover {
  color: #fc0;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-height: 885px) {
  .jumbotron .icons {
    margin-top: 12%;
    margin-bottom: 12%;
  }
}

@media (max-width: 500px) {
  .navbar-nav {
    background-color: rgba(0, 0, 0, .75);
    border-radius: 5px;
  }
  .jumbotron {
    padding: 0;
    height: 545px;
  }
  .jumbotron > .container {
    top: 50px;
  }
  .jumbotron h1 {
    font-size: 3em;
  }
  .marketing {
    padding: 100px 35px;
  }

}

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  .marketing {
    min-height: 740px;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
