@import url(//fonts.googleapis.com/css?family=Montserrat);
@import url(//fonts.googleapis.com/css?family=Lato:700);

body {
  font-family: 'Montserrat', sans-serif;
  background: url('/assets/signup-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  position: static;
  font-size: 14px;
}

@media (min-width: 768px) {
  body {
    font-size: 30px;
  }
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  letter-spacing: -.02em;
  text-align: center;
  color: rgb(255, 241, 163);
  text-shadow: 1px 2px 2px rgb(79, 67, 3);
  margin: 0.4em 0 10px 0;
}

.hide {
  display: none;
}

.lp-copy {
  display: block;
  margin-top: 1em;
}

#signup, #thank-you {
  padding: 1em 1em 2em;
  border-radius: 5px;
  text-align: center;
  color: #eee;
  background-color: rgba(13, 13, 13, 0.9);
}

input, button {
  border: none;
  padding: 0.3em .5em;
  border-radius: 5px;
  outline: none;
  margin: 2em 0;
}

input {
  color: #000;
}

button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: .5s;
  cursor: pointer;
}

button:hover {
  border-color: rgb(255, 241, 163);
  transition: 0.4s;
  color: rgb(255, 241, 163);
}

.gilded {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 241, 163);
  text-shadow: 1px 2px 6px rgb(79, 67, 3);
}
