@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic);

body {
  font-family: 'Josefin Sans', sans-serif;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)
    ),
    url(../assets/signup-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: static;
  font-size: 14px;
}

@media (min-width: 768px) {
  body {
    font-size: 30px;
  }
}

h1 {
  font-size: 3.3em;
  font-weight: bold;
  letter-spacing: -.02em;
  text-align: center;
  color: gold;
  text-shadow: 5px 5px 0px #000;
  margin: 0.4em 0 0 0;
}

.hide {
  display: none;
}

.lp-copy {
  display: block;
  margin-top: 1em;
}

#signup, #thank-you {
  padding: 1em 1em 2em;
  border-radius: 10px;
  text-align: center;
  color: #eee;
  background-color: rgba(13, 13, 13, 0.9);
}


input, button {
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 10px;
  outline: none;
  margin-top: 2em;
}

input {
  color: #000;
}

button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: 1s;
  cursor: pointer;
}

button:hover {
  border-color: gold;
  transition: 0.4s;
  color: gold;
}


