@import url(//fonts.googleapis.com/css?family=Montserrat);
@import url(//fonts.googleapis.com/css?family=Lato:700);

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-repeat: no-repeat;
  background-image: radial-gradient(ellipse, rgba(160, 174, 150, 0.9), rgba(93, 112, 119, 0.89));
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
}

a {
  color: #FFF1A3;
}

a:hover, a:active {
  color: #FFCC00;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  padding-top: 20px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-brand {
  font-family: "Lato", Sans-Serif;
  font-size: 3em;
  color: #fc0;
}

.navbar-nav {
  float: right;
  font-size: 18px;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

.nav > li > a {
  color: white;
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  color: #fc0;
}

.payment {
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.jumbotron {
  margin-top: 100px;
  background: rgba(255,255,255, 0);
  color: #fefefe;
}

.jumbotron h1 {
  color: #fc0;
}

.stripe-button-el {
  background-image: none;
}

.gilded-button {

}

@media (max-width: 500px) {
  .navbar-nav {
    background-color: rgba(0, 0, 0, .6);
    border-radius: 5px;
  }
}
