include ./head.jade
include ./navbar.jade
div(class="container")
  h1(style="margin-top: 130px;") Frequently Asked Questions
  .panel.panel-default
    .panel-heading
        h3.panel-title How Does Gilded Work?
      .panel-body
        | You can use your @gilded.club email address like any other email address. You can share this email publicly, confident that you will not be bombarded with unnecessary emails. Your @gilded.club email address protects your personal inbox from being penetrated by unsolicited senders.
  .panel.panel-default
    .panel-heading
        h3.panel-title What About My Current Contacts?
      .panel-body
        | The great thing about Gilded is that you don't need to share it with everyone. Family, friends, and colleagues can continue to email you at your personal email address without worry. Use your @gilded.club email prudently when signing up for newsletters, confirming payment, signing up for services, etc. Gilded is a supplementary service to help reduce the noise.
  .panel.panel-default
    .panel-heading
        h3.panel-title How Can Senders Pay?
      .panel-body
        | Senders can pay with credit cards or Bitcoin.
  .panel.panel-default
    .panel-heading
        h3.panel-title How Secure Is Gilded's Payment Processing?
      .panel-body
        | We use encrypted SSL to transmit all information. All payment information is securely stored by Stripe (the same system used by Apple Pay). Stripe is fully PCI compliant.
  .panel.panel-default
    .panel-heading
        h3.panel-title How Is My Balance Calculated?
      .panel-body
        | You earn 70% of your published rate. For example, if you charge $1.00 per email, you keep $0.70. Additionally, there is a flat $0.25 fee when transferring your balance to your debit card. Stripe makes it easy for us to charge senders and pay you, however there are costs that we must cover to maintain this service.
  .panel.panel-default
    .panel-heading
        h3.panel-title What are Stripe's fees?
      .panel-body
        | Stripe charges a flat fee of $0.30 plus an additional 2.9%.
  .panel.panel-default
    .panel-heading
        h3.panel-title How Do I Withdraw My Balance?
      .panel-body
        | Just add a debit card in the payment settings section of your dashboard. We do not store any of your sensitive financial information. Stripe maintains these records and are 100% PCI Compliant.
  script(src="../bower_components/jquery/dist/jquery.min.js")
  script(src="../bower_components/bootstrap/dist/js/bootstrap.min.js")


