.emails {
  table {
    width: 100%;
  }

  td, th {
    padding: 1em;
    margin: 1px;
    background-color: #eee;
  }

  th {
    font-weight: bold;
  }

  table tr {
    border-bottom: 10px;
  }

  tr {
    cursor: pointer;
  }

  .escrow-snackbar {
    background-color: transparent;
  }
}

.email-page {
  background-color: #eee;

  .back-to-emails {
    margin-bottom: 2em;
    a {
      text-decoration: none;
      color: #111;
    }
  }
  .email-content {
    padding: 2em;
  }

  color: #111;

  .email-metadata {
    width: 100%;
    height: 3em;
  }

  .email-top-left {
    float: left;
  }

  .email-top-right {
    float: right;
    text-align: right;
  }

  .email-message {
    color: #222;
    padding: 2em;
    h1, h2, h3, h4, h5, h6 {
      color: #222;
    }
  }

}
