.emails {
  table {
    width: 100%;
  }

  td, th {
    padding: 1em;
    margin: 1px;
    background-color: #eee;
  }

  th {
    font-weight: bold;
  }

  table tr {
    border-bottom: 10px;
  }

  tr {
    cursor: pointer;
  }
}

.email-page {
  background-color: #eee;

  .back-to-emails {
    margin-bottom: 2em;
  }
  .email-content {
    padding: 2em;
  }

  color: #111;

  .email-from, .email-to {

  }

  .email-sentDate, .email-cost, .email-paid {
    float: right;
  }

  .email-message {
    color: #222;
    padding: 2em;
    h1, h2, h3, h4, h5, h6 {
      color: #222;
    }
  }

}
