.dashboard-title {
  h1 {
    margin-bottom: 0;
    color: white;
  }
}

.dashboard-subcontent {
  font-size: 2em;
  background-color: white;
  max-width: 600px;
  margin: 1.5em 0;
}

.dashboard-subheading {
  padding: 1em 0 0 1em;
}

.dashboard-subheading-content {
  padding: 1em;
}
