.VIP h4 {
  padding: 1em 0 0 1em;
  color: white;
}


.vip-table {
  width: 100%;
  background-color: #fff;
  .vip-remove {
    background: none;
    border: none;
    font-size: 2em;
    color: #900;
    outline: none;
  }

  button:hover {
    color: #e00;
  }

  .vip-remove-box {
    width: 1em;
  }

  td {
    padding: 1em;
    border-bottom: 1px solid #ccc;
  }
}

.vip-add-contact {
  .vip-add-button {
  }
}

.vip-table-container {
  max-width: 600px;
}
