.vip-description {
  font-size: 0.6em;
}

.vip-table {
  width: 100%;

  .vip-remove {
    background: none;
    border: none;
    font-size: 2em;
    color: #900;
    outline: none;
  }

  button:hover {
    color: #e00;
  }

  .vip-remove-box {
    width: 1em;
  }

  tr {
    display: block;
    padding: 1em;
    border-bottom: 1px solid #ddd;
  }

  tr:last-child {
    border-bottom: none;
  }
}

.vip-table-container {
  max-width: 600px;

  .dashboard-subheading-content {
    padding: 0;
  }
}

.vip-add-section {
  float: left;
  clear: left;
  margin-bottom: 2em;
}

.vip-import-contacts {
  float: left;
  clear: left;
}

.vip-count {
  font-size: 1.5em;
}
